---
import Header from '../components/header.astro';
import { SEOMetadata } from 'astro-seo-metadata';
import Footer from '../components/footer.astro';
const { title } = Astro.props;
import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
---
<html lang={i18next.language}>
    <head>
        <SEOMetadata
            siteName={'Penzion Kamélie'}
            description={t("home.description")}
            image={"https://ortieez.github.io/_astro/IMG-20230724-WA0001.E29lmCzK.jpg"}
            favicon={'/favicon.png'}
            author="Adam Lipert"
            astroSitemap={true}
            canonicalUrl={Astro.url.toString()}
            type={'website'}
            astroGenerator={true}
        />
        <meta charset="utf-8" />
        <title>Penzion Kamélie | {title}</title>
        <HeadHrefLangs />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#DA7F93" />
    </head>
    <body class="mx-4 mt-4  flex justify-center">
        <div id="loading-overlay" class="fixed inset-0 bg-accent opacity-100 flex items-center flex-col justify-center z-50 transition-opacity duration-200">
            <p class="text-3xl font-bold text-white">PENZION Kamélie</p>
            <p class="text-white">
                <span id="loadingFirst">{t("loading.loadingfirst")}</span>
                <span class="hidden" id="loadingImages">{t("loading.loadingImages")}</span>
                <span class="hidden" id="finished">{t("loading.finished")}</span>
            </p>
        </div>

       <div class="container" id="content">
           <Header />
           <main>
               <slot />
           </main>
           <Footer />
       </div>
    </body>

    <style>
        body.loading {
            overflow: hidden;
        }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.body.classList.add('loading');
            let loaders1 = document.getElementById("loadingFirst")
            let loaders2 = document.getElementById("loadingImages")

            loaders1.classList.add("hidden");
            loaders2.classList.remove("hidden");
        })

        window.addEventListener('load', function() {
            let loaders2 = document.getElementById("loadingImages")
            let loaders3 = document.getElementById("finished")

            let images = document.getElementsByTagName('img');
            let loadedImages = 0;

            for (let i = 0; i < images.length; i++) {


                images[i].addEventListener('load', function() {
                    loadedImages++;
                });

                if (images[i].complete) {
                    loadedImages++;
                }
            }

            loaders2.classList.add("hidden");
            loaders3.classList.remove("hidden");

            setTimeout(function () {
                document.getElementById('loading-overlay').style.opacity = "0";
                document.getElementById('loading-overlay').style.pointerEvents = 'none';

                document.getElementById('content').style.display = 'block';

                document.body.classList.remove('loading');
            }, 1500);
        });
    </script>
</html>